
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>All About Movies</title>
    <meta name="keywords" content="black wall, free CSS template, dark wooden strips, templatemo" />
    <meta name="description" content="Black Wall - free CSS template from templatemo.com" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="templatemo_wrapper">

        <div id="templatemo_header">

            <div id="templatemo_menu">
                <ul>
                    <h1>All About Movies</h1>

                </ul>
            </div> <!-- end of templatemo_menu -->

            <img src="~/images/img1.jpg" />
        </div> <!-- end of header -->

        <div id="templatemo_middle">
            <div id="mid_title">

            </div>

            <p></p>

            <div id="learn_more"></div>

            <div class="cleaner"></div>
        </div> <!-- end of middle -->
        @RenderBody()

        <div class="col_w960 col_last">
            <div class="col_allw300 frontpage_box">
                <h2>About us<span></span></h2>
                <p>Just a new addition in the field, mission is, to explore.</p>

            </div>

            <div class="col_allw300 frontpage_box">
                <h2>Contact us<span></span></h2>
                <p>Contact num: 923344223711</p>
                <p>email us at bsef11a008@pucit.edu.pk</p>


            </div>

            <div class="col_allw300 frontpage_box col_last">
                <h2>Customer Support<span></span></h2>
                <p>If you are facing any problem related to this website, just contact us.</p>

            </div>

            <div class="cleaner"></div>
        </div>

    </div> <!-- end of main -->
    </div> <!-- end of wrapper -->

    <div id="templatemo_footer_wrapper">
        <div id="templatemo_footer">

            Copyright © 2014 <a> All Rights Reserved</a>

        </div> <!-- end of templatemo_footer -->
    </div>

</body>
</html>
