
    

        <div id="templatemo_middle">
            <div id="mid_title">

            </div>

            <p></p>

            <div id="learn_more"></div>

            <div class="cleaner"></div>
        </div> <!-- end of middle -->

        <div id="templatemo_main">
            <div class="col_w960">

                <div class="col_w450 float_l">
                    <h2>Its Fun Place</h2>


                </div>

                <div class="col_w450 float_r">
                    <h2>Latest Movies</h2>
                    <ul class="lp_frontpage">
                        <li><a href="#"><img width="200" height="100" src="~/images/waar1.jpg" alt="Image 01" /></a></li>
                        <li><a href="#"><img width="200" height="100" src="~/images/the wolf of wall street.jpg" alt="Image 02" /></a></li>
                        <li><a href="#"><img width="200" height="100" src="~/images/RamLeela.jpg" alt="image 03" /></a></li>
                        <li><a href="#"><img width="200" height="100" src="~/images/agora.jpg" alt="image 04" /></a></li>
                    </ul>

                    <div class="cleaner"></div>

                </div>

                <div class="cleaner"></div>
            </div>

           