


        

        <div id="templatemo_main">
            <div class="col_w960">

                <div class="col_w450 float_l">
                    <h2>Its Fun Place</h2>
                    <p><em>Hello and welcome to the fun place, Where you will find about all of your favourite movies and stars</em></p>
                    <p> Just Sign in and start exploring this fun place</p>
                    <form action="/Home/signin" method="post">

                        <label>Email   </label>
                        <br>

                        <input type="text" id="email" name="email" placeholder="Enter Email" required=required />
                        <br>
                        <label>Password</label>
                        <br>
                        <input type="password" id="pwrd" name="pwrd" placeholder="Enter Password" required=required />
                        <div>Wrong email or password</div>
                        <footer>

                            <input type="submit" class="btnLogin" value="Signin" />
                            
                            <br><br>
                            <label>Not A User Yet? Click here to <a href="~/Home/Signup" class="current">Sign up</a></label>

                        </footer>
                    </form>
                </div>

                <div class="col_w450 float_r">
                    <h2>Latest Movies</h2>
                    <ul class="lp_frontpage">
                        <li><a href="#"><img width="200" height="100" src="~/images/waar1.jpg" alt="Image 01" /></a></li>
                        <li><a href="#"><img width="200" height="100" src="~/images/the wolf of wall street.jpg" alt="Image 02" /></a></li>
                        <li><a href="#"><img width="200" height="100" src="~/images/high way.jpg" alt="image 03" /></a></li>
                        <li><a href="#"><img width="200" height="100" src="~/images/agora.jpg" alt="image 04" /></a></li>
                    </ul>

                    <div class="cleaner"></div>

                </div>

                <div class="cleaner"></div>
            </div>

            